@font-face {
  font-family: "BousniRondeLTStd"; /* Give your font a name to use in CSS */
  src: url("../assets/fonts/BousniRondeLTStd-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: bold;
}
* {
  padding: 0;
  margin: 0;
  text-align: right;
  vertical-align: middle;
  font-size: 15px;
  /* border: 1px solid #0073e6; */
}

body {
  font-family: "BousniRondeLTStd", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #737373;
}
body,
html {
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #b2b5b7;
}
a:hover {
  color: #fff;
}
.navbar {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f5f5f5; */
  padding: 10px 20px;
}
.logo {
  /*font-size: 24px;
  color: red;
  font-weight: bold;
  padding: 10px 0;
  */
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.search-container {
  display: flex;
  align-items: center;
  /* flex-grow: 1; */
  margin: 10px 50px;
  /* gap: 10px; */
  background-color: #fff;
}
.search-container button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
  padding-right: 8px;
  padding-right: 8px;

  background-color: #f65858;
}
.first-input {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  max-width: 250px;
}
.first-input:hover {
  border: 1px solid #000;
}
.second-input {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  /* border-top-left-radius: 5px; */
  /* border-bottom-left-radius: 5px; */
  max-width: 250px;
}
.second-input:hover {
  border: 1px solid #000;
}
.search-container i {
  margin-left: 5px;
  margin-right: 5px;
}
.search-container button {
  border: 1px solid #f65858;
}
.search-container input[type="search"] {
  width: 100%;
  padding: 10px;
  margin: 0;
  border: none;
  /* border-radius: 5px; */
}
.search-container input:focus {
  border: none;
  outline: none;
}
button {
  color: #fff;
  background-color: #008fa3;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
.navbar select {
  padding: 10px;
  border: none;
  margin: 10px 20px 10px 0;
  border-radius: 5px;
}
.language {
  margin-right: auto;
  cursor: pointer;
  margin-left: 10px;
}
/* @media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }
  .search-container {
    order: 3;
    margin: 10px 0;
  }
  .navbar select,
  .navbar button {
    width: 100%;
    margin: 5px 0;
  }
} */
/*  */
.banner {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 20px; */
  /* background-color: #f5f5f5; */
}
.banner-image {
  width: 400px;
}
@media (max-width: 768px) {
  .banner-image {
    width: 200px;
  }
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  max-width: 600px;
}

.content h1 {
  font-size: 40px;
  font-weight: bold;
  color: #333;
}

.content p {
  font-size: 17px;
  color: #666;
}

.button {
  background-color: #0073e6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
}

/* Responsive design */
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }

  .content h1 {
    font-size: 20px;
  }

  .content p {
    font-size: 14px;
  }

  .image {
    margin-top: 20px;
    width: 100%;
    height: auto;
  }
}
/* footer */
.footer {
  background-color: #000;
  color: #fff;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-weight: bold;
}
.section1-container {
  display: block;
}
.section1-content {
  display: flex;
  align-items: center;
  gap: 30px;
}
.section1-button {
  color: #fff;
  background-color: #000;
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
}
.section1-button:hover {
  color: #000;
  background-color: #fff;
}
.section1-line {
  margin-top: 20px;
  background-color: #fff; /* This sets the line color to green */
  width: 100%;
}
.section2-container {
  display: flex;
  gap: 20%;
}
.section2-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section4-container {
  display: flex;
  gap: 5%;
}
/*  */
.section3-container {
  background-color: #000; /* Assuming a black background */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-icons {
  display: flex;
  gap: 15px;
}
.social-icons img {
  height: 24px; /* Adjust as needed */
  margin-right: 10px; /* Space between icons */
}

.store-badges img {
  height: 48px; /* Adjust as needed */
  margin-left: 10px; /* Space between badges */
}
.icon {
  color: #fff;
  font-size: 20px;
}
.container {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 100px;
  margin-left: 100px;
}
@media (max-width: 768px) {
  .container {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 25px;
    margin-left: 25px;
  }
  .search-container {
    margin: 0;
  }
}
#section-a {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  gap: 10px;
}
.card:hover {
  cursor: pointer;
}
.card:hover img {
  opacity: 0.5;
}
.card:hover h1 {
  text-decoration: underline;
}
.card img {
  border-radius: 5px;
  width: 100%;
}
.card h1 {
  color: #000;
}
.card div {
}
.card-row {
  display: flex;
  gap: 10px;
}
.section-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.section-title h1 {
  font-size: 25px;
  font-weight: bold;
  color: #000;
}
.section-title button {
  color: #00798a;
  background-color: #e9f4f4;
  font-size: 20px;
  font-weight: bold;
}
.section-title a {
  margin-left: auto;
  color: #00798a;
  font-weight: bold;
}
#section-b {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

.category-card {
  background-color: #f2f9f9;
  border-radius: 5px;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.category-card p {
  text-align: center;
  font-weight: bold;
  color: #000;
}
.category-card:hover {
  cursor: pointer;
  background-color: #e2f7f7;
}
/* **** */
#section-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}
.friendships-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  border-radius: 8px;
  overflow: hidden;

  transition: box-shadow 0.3s ease;
}
.friendships-card:hover {
  cursor: pointer;
}

.friendships-card:hover img {
  opacity: 0.7;
}

.friendships-card:hover p {
  text-decoration: underline;
}
.friendships-card img {
  width: 100%;
  display: block;
  transition: opacity 0.3s ease;
}

.card-content {
  /* padding: 15px; */
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

.card-link {
  text-decoration: none;
  color: #008fa3;
  display: block;
  margin-top: 15px;
  font-size: 16px;
}
/* **** */
@media (max-width: 768px) {
  #section-a {
    justify-content: center;
  }
  #section-c {
    justify-content: center;
  }
  .store-badges img {
    width: 100px;
  }
  .navbar {
    justify-content: center;
  }
  .language {
    margin-left: initial;
  }
}
#section-d {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.how-card {
  display: flex;
  align-items: flex-start;
  background-color: #f2f9f9;
  border-radius: 5px;
  gap: 20px;
  padding: 20px;
  font-weight: bold;
  cursor: pointer;
}
.how-card:hover {
  background-color: #e2f7f7;
}
.details-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
